/* Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* Colors */
/* Config */
/* Pretty Lights */
.bokeh {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: -50px;
  left: -25px;
}

.light {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

.light:nth-child(1) {
  width: 84px;
  height: 84px;
  top: 74%;
  left: 46%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 32s light2 linear infinite;
          animation: 32s light2 linear infinite;
}

.light:nth-child(2) {
  width: 96px;
  height: 96px;
  top: 25%;
  left: 97%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 14s light3 linear infinite;
          animation: 14s light3 linear infinite;
}

.light:nth-child(3) {
  width: 88px;
  height: 88px;
  top: 2%;
  left: 46%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 11s light2 linear infinite;
          animation: 11s light2 linear infinite;
}

.light:nth-child(4) {
  width: 97px;
  height: 97px;
  top: 100%;
  left: 30%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 34s light3 linear infinite;
          animation: 34s light3 linear infinite;
}

.light:nth-child(5) {
  width: 81px;
  height: 81px;
  top: 30%;
  left: 13%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 28s light2 linear infinite;
          animation: 28s light2 linear infinite;
}

.light:nth-child(6) {
  width: 81px;
  height: 81px;
  top: 93%;
  left: 60%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 12s light4 linear infinite;
          animation: 12s light4 linear infinite;
}

.light:nth-child(7) {
  width: 81px;
  height: 81px;
  top: 69%;
  left: 11%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 13s light6 linear infinite;
          animation: 13s light6 linear infinite;
}

.light:nth-child(8) {
  width: 97px;
  height: 97px;
  top: 32%;
  left: 21%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 23s light6 linear infinite;
          animation: 23s light6 linear infinite;
}

.light:nth-child(9) {
  width: 95px;
  height: 95px;
  top: 98%;
  left: 87%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 14s light4 linear infinite;
          animation: 14s light4 linear infinite;
}

.light:nth-child(10) {
  width: 88px;
  height: 88px;
  top: 53%;
  left: 94%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 29s light3 linear infinite;
          animation: 29s light3 linear infinite;
}

.light:nth-child(11) {
  width: 100px;
  height: 100px;
  top: 19%;
  left: 91%;
  background: #FE0016;
  filter: blur(4px);
  -webkit-animation: 16s light2 linear infinite;
          animation: 16s light2 linear infinite;
}

.light:nth-child(12) {
  width: 82px;
  height: 82px;
  top: 29%;
  left: 53%;
  background: #63C13B;
  filter: blur(4px);
  -webkit-animation: 32s light2 linear infinite;
          animation: 32s light2 linear infinite;
}

.light:nth-child(13) {
  width: 78px;
  height: 78px;
  top: 5%;
  left: 52%;
  background: #D00010;
  filter: blur(4px);
  -webkit-animation: 35s light2 linear infinite;
          animation: 35s light2 linear infinite;
}

.light:nth-child(14) {
  width: 92px;
  height: 92px;
  top: 52%;
  left: 85%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 24s light3 linear infinite;
          animation: 24s light3 linear infinite;
}

.light:nth-child(15) {
  width: 98px;
  height: 98px;
  top: 85%;
  left: 76%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 34s light4 linear infinite;
          animation: 34s light4 linear infinite;
}

.light:nth-child(16) {
  width: 91px;
  height: 91px;
  top: 71%;
  left: 93%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 12s light2 linear infinite;
          animation: 12s light2 linear infinite;
}

.light:nth-child(17) {
  width: 97px;
  height: 97px;
  top: 4%;
  left: 12%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 11s light2 linear infinite;
          animation: 11s light2 linear infinite;
}

.light:nth-child(18) {
  width: 82px;
  height: 82px;
  top: 57%;
  left: 95%;
  background: #D00010;
  filter: blur(4px);
  -webkit-animation: 21s light2 linear infinite;
          animation: 21s light2 linear infinite;
}

.light:nth-child(19) {
  width: 90px;
  height: 90px;
  top: 14%;
  left: 74%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 25s light4 linear infinite;
          animation: 25s light4 linear infinite;
}

.light:nth-child(20) {
  width: 87px;
  height: 87px;
  top: 37%;
  left: 92%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 12s light5 linear infinite;
          animation: 12s light5 linear infinite;
}

.light:nth-child(21) {
  width: 89px;
  height: 89px;
  top: 50%;
  left: 79%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 19s light4 linear infinite;
          animation: 19s light4 linear infinite;
}

.light:nth-child(22) {
  width: 99px;
  height: 99px;
  top: 66%;
  left: 13%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 22s light2 linear infinite;
          animation: 22s light2 linear infinite;
}

.light:nth-child(23) {
  width: 80px;
  height: 80px;
  top: 52%;
  left: 33%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 11s light5 linear infinite;
          animation: 11s light5 linear infinite;
}

.light:nth-child(24) {
  width: 77px;
  height: 77px;
  top: 28%;
  left: 78%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 30s light2 linear infinite;
          animation: 30s light2 linear infinite;
}

.light:nth-child(25) {
  width: 89px;
  height: 89px;
  top: 71%;
  left: 60%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 32s light4 linear infinite;
          animation: 32s light4 linear infinite;
}

.light:nth-child(26) {
  width: 77px;
  height: 77px;
  top: 97%;
  left: 19%;
  background: #D00010;
  filter: blur(4px);
  -webkit-animation: 24s light3 linear infinite;
          animation: 24s light3 linear infinite;
}

.light:nth-child(27) {
  width: 92px;
  height: 92px;
  top: 62%;
  left: 22%;
  background: #FEE34A;
  filter: blur(4px);
  -webkit-animation: 21s light5 linear infinite;
          animation: 21s light5 linear infinite;
}

.light:nth-child(28) {
  width: 98px;
  height: 98px;
  top: 42%;
  left: 33%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 12s light3 linear infinite;
          animation: 12s light3 linear infinite;
}

.light:nth-child(29) {
  width: 86px;
  height: 86px;
  top: 80%;
  left: 33%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 32s light4 linear infinite;
          animation: 32s light4 linear infinite;
}

.light:nth-child(30) {
  width: 100px;
  height: 100px;
  top: 99%;
  left: 43%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 21s light6 linear infinite;
          animation: 21s light6 linear infinite;
}

.light:nth-child(31) {
  width: 84px;
  height: 84px;
  top: 84%;
  left: 76%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 23s light6 linear infinite;
          animation: 23s light6 linear infinite;
}

.light:nth-child(32) {
  width: 85px;
  height: 85px;
  top: 92%;
  left: 8%;
  background: #FEE34A;
  filter: blur(4px);
  -webkit-animation: 18s light2 linear infinite;
          animation: 18s light2 linear infinite;
}

.light:nth-child(33) {
  width: 79px;
  height: 79px;
  top: 41%;
  left: 5%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 25s light4 linear infinite;
          animation: 25s light4 linear infinite;
}

.light:nth-child(34) {
  width: 96px;
  height: 96px;
  top: 88%;
  left: 79%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 32s light5 linear infinite;
          animation: 32s light5 linear infinite;
}

.light:nth-child(35) {
  width: 81px;
  height: 81px;
  top: 93%;
  left: 97%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 23s light5 linear infinite;
          animation: 23s light5 linear infinite;
}

.light:nth-child(36) {
  width: 91px;
  height: 91px;
  top: 7%;
  left: 37%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 23s light2 linear infinite;
          animation: 23s light2 linear infinite;
}

.light:nth-child(37) {
  width: 86px;
  height: 86px;
  top: 63%;
  left: 33%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 14s light3 linear infinite;
          animation: 14s light3 linear infinite;
}

.light:nth-child(38) {
  width: 99px;
  height: 99px;
  top: 59%;
  left: 64%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 17s light2 linear infinite;
          animation: 17s light2 linear infinite;
}

.light:nth-child(39) {
  width: 95px;
  height: 95px;
  top: 95%;
  left: 90%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 26s light2 linear infinite;
          animation: 26s light2 linear infinite;
}

.light:nth-child(40) {
  width: 78px;
  height: 78px;
  top: 91%;
  left: 50%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 24s light6 linear infinite;
          animation: 24s light6 linear infinite;
}

.light:nth-child(41) {
  width: 100px;
  height: 100px;
  top: 39%;
  left: 2%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 26s light5 linear infinite;
          animation: 26s light5 linear infinite;
}

.light:nth-child(42) {
  width: 96px;
  height: 96px;
  top: 42%;
  left: 57%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 17s light4 linear infinite;
          animation: 17s light4 linear infinite;
}

.light:nth-child(43) {
  width: 76px;
  height: 76px;
  top: 28%;
  left: 40%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 21s light3 linear infinite;
          animation: 21s light3 linear infinite;
}

.light:nth-child(44) {
  width: 96px;
  height: 96px;
  top: 23%;
  left: 32%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 24s light5 linear infinite;
          animation: 24s light5 linear infinite;
}

.light:nth-child(45) {
  width: 80px;
  height: 80px;
  top: 37%;
  left: 59%;
  background: #FE0016;
  filter: blur(4px);
  -webkit-animation: 22s light4 linear infinite;
          animation: 22s light4 linear infinite;
}

.light:nth-child(46) {
  width: 94px;
  height: 94px;
  top: 71%;
  left: 64%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 19s light6 linear infinite;
          animation: 19s light6 linear infinite;
}

.light:nth-child(47) {
  width: 80px;
  height: 80px;
  top: 70%;
  left: 78%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 25s light4 linear infinite;
          animation: 25s light4 linear infinite;
}

.light:nth-child(48) {
  width: 88px;
  height: 88px;
  top: 14%;
  left: 64%;
  background: #63C13B;
  filter: blur(4px);
  -webkit-animation: 32s light4 linear infinite;
          animation: 32s light4 linear infinite;
}

.light:nth-child(49) {
  width: 93px;
  height: 93px;
  top: 87%;
  left: 20%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 35s light6 linear infinite;
          animation: 35s light6 linear infinite;
}

.light:nth-child(50) {
  width: 94px;
  height: 94px;
  top: 62%;
  left: 67%;
  background: #FEE34A;
  filter: blur(3px);
  -webkit-animation: 32s light5 linear infinite;
          animation: 32s light5 linear infinite;
}

.light:nth-child(51) {
  width: 79px;
  height: 79px;
  top: 81%;
  left: 83%;
  background: #FEC641;
  filter: blur(4px);
  -webkit-animation: 31s light5 linear infinite;
          animation: 31s light5 linear infinite;
}

.light:nth-child(52) {
  width: 77px;
  height: 77px;
  top: 2%;
  left: 80%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 33s light3 linear infinite;
          animation: 33s light3 linear infinite;
}

.light:nth-child(53) {
  width: 79px;
  height: 79px;
  top: 38%;
  left: 25%;
  background: #FEE34A;
  filter: blur(3px);
  -webkit-animation: 24s light2 linear infinite;
          animation: 24s light2 linear infinite;
}

.light:nth-child(54) {
  width: 85px;
  height: 85px;
  top: 9%;
  left: 66%;
  background: #D00010;
  filter: blur(4px);
  -webkit-animation: 34s light3 linear infinite;
          animation: 34s light3 linear infinite;
}

.light:nth-child(55) {
  width: 79px;
  height: 79px;
  top: 63%;
  left: 20%;
  background: #63C13B;
  filter: blur(4px);
  -webkit-animation: 30s light2 linear infinite;
          animation: 30s light2 linear infinite;
}

.light:nth-child(56) {
  width: 91px;
  height: 91px;
  top: 56%;
  left: 83%;
  background: #FEE34A;
  filter: blur(3px);
  -webkit-animation: 20s light2 linear infinite;
          animation: 20s light2 linear infinite;
}

.light:nth-child(57) {
  width: 86px;
  height: 86px;
  top: 3%;
  left: 67%;
  background: #FEC641;
  filter: blur(4px);
  -webkit-animation: 28s light5 linear infinite;
          animation: 28s light5 linear infinite;
}

.light:nth-child(58) {
  width: 93px;
  height: 93px;
  top: 68%;
  left: 52%;
  background: #63C13B;
  filter: blur(4px);
  -webkit-animation: 17s light2 linear infinite;
          animation: 17s light2 linear infinite;
}

.light:nth-child(59) {
  width: 84px;
  height: 84px;
  top: 95%;
  left: 70%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 14s light6 linear infinite;
          animation: 14s light6 linear infinite;
}

.light:nth-child(60) {
  width: 95px;
  height: 95px;
  top: 42%;
  left: 35%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 31s light5 linear infinite;
          animation: 31s light5 linear infinite;
}

.light:nth-child(61) {
  width: 100px;
  height: 100px;
  top: 64%;
  left: 72%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 34s light5 linear infinite;
          animation: 34s light5 linear infinite;
}

.light:nth-child(62) {
  width: 93px;
  height: 93px;
  top: 75%;
  left: 31%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 20s light3 linear infinite;
          animation: 20s light3 linear infinite;
}

.light:nth-child(63) {
  width: 78px;
  height: 78px;
  top: 53%;
  left: 82%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 22s light3 linear infinite;
          animation: 22s light3 linear infinite;
}

.light:nth-child(64) {
  width: 78px;
  height: 78px;
  top: 37%;
  left: 95%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 33s light5 linear infinite;
          animation: 33s light5 linear infinite;
}

.light:nth-child(65) {
  width: 76px;
  height: 76px;
  top: 85%;
  left: 77%;
  background: #FEC641;
  filter: blur(4px);
  -webkit-animation: 29s light5 linear infinite;
          animation: 29s light5 linear infinite;
}

.light:nth-child(66) {
  width: 96px;
  height: 96px;
  top: 80%;
  left: 86%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 22s light5 linear infinite;
          animation: 22s light5 linear infinite;
}

.light:nth-child(67) {
  width: 89px;
  height: 89px;
  top: 43%;
  left: 65%;
  background: #FEE34A;
  filter: blur(3px);
  -webkit-animation: 23s light5 linear infinite;
          animation: 23s light5 linear infinite;
}

.light:nth-child(68) {
  width: 85px;
  height: 85px;
  top: 76%;
  left: 91%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 15s light4 linear infinite;
          animation: 15s light4 linear infinite;
}

.light:nth-child(69) {
  width: 76px;
  height: 76px;
  top: 37%;
  left: 58%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 18s light5 linear infinite;
          animation: 18s light5 linear infinite;
}

.light:nth-child(70) {
  width: 77px;
  height: 77px;
  top: 53%;
  left: 62%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 15s light4 linear infinite;
          animation: 15s light4 linear infinite;
}

.light:nth-child(71) {
  width: 80px;
  height: 80px;
  top: 70%;
  left: 91%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 24s light5 linear infinite;
          animation: 24s light5 linear infinite;
}

.light:nth-child(72) {
  width: 90px;
  height: 90px;
  top: 29%;
  left: 65%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 29s light4 linear infinite;
          animation: 29s light4 linear infinite;
}

.light:nth-child(73) {
  width: 86px;
  height: 86px;
  top: 9%;
  left: 60%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 28s light5 linear infinite;
          animation: 28s light5 linear infinite;
}

.light:nth-child(74) {
  width: 90px;
  height: 90px;
  top: 43%;
  left: 55%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 21s light6 linear infinite;
          animation: 21s light6 linear infinite;
}

.light:nth-child(75) {
  width: 90px;
  height: 90px;
  top: 91%;
  left: 81%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 27s light6 linear infinite;
          animation: 27s light6 linear infinite;
}

.light:nth-child(76) {
  width: 98px;
  height: 98px;
  top: 35%;
  left: 57%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 17s light3 linear infinite;
          animation: 17s light3 linear infinite;
}

.light:nth-child(77) {
  width: 82px;
  height: 82px;
  top: 42%;
  left: 11%;
  background: #63C13B;
  filter: blur(3px);
  -webkit-animation: 19s light3 linear infinite;
          animation: 19s light3 linear infinite;
}

.light:nth-child(78) {
  width: 90px;
  height: 90px;
  top: 29%;
  left: 39%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 34s light6 linear infinite;
          animation: 34s light6 linear infinite;
}

.light:nth-child(79) {
  width: 81px;
  height: 81px;
  top: 41%;
  left: 81%;
  background: #FEE34A;
  filter: blur(4px);
  -webkit-animation: 11s light6 linear infinite;
          animation: 11s light6 linear infinite;
}

.light:nth-child(80) {
  width: 82px;
  height: 82px;
  top: 63%;
  left: 84%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 20s light2 linear infinite;
          animation: 20s light2 linear infinite;
}

.light:nth-child(81) {
  width: 96px;
  height: 96px;
  top: 7%;
  left: 22%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 26s light2 linear infinite;
          animation: 26s light2 linear infinite;
}

.light:nth-child(82) {
  width: 96px;
  height: 96px;
  top: 23%;
  left: 99%;
  background: #FE0016;
  filter: blur(4px);
  -webkit-animation: 14s light6 linear infinite;
          animation: 14s light6 linear infinite;
}

.light:nth-child(83) {
  width: 89px;
  height: 89px;
  top: 60%;
  left: 12%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 17s light2 linear infinite;
          animation: 17s light2 linear infinite;
}

.light:nth-child(84) {
  width: 100px;
  height: 100px;
  top: 90%;
  left: 21%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 32s light5 linear infinite;
          animation: 32s light5 linear infinite;
}

.light:nth-child(85) {
  width: 82px;
  height: 82px;
  top: 16%;
  left: 73%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 34s light5 linear infinite;
          animation: 34s light5 linear infinite;
}

.light:nth-child(86) {
  width: 98px;
  height: 98px;
  top: 75%;
  left: 49%;
  background: #FEC641;
  filter: blur(4px);
  -webkit-animation: 35s light5 linear infinite;
          animation: 35s light5 linear infinite;
}

.light:nth-child(87) {
  width: 92px;
  height: 92px;
  top: 98%;
  left: 25%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 25s light6 linear infinite;
          animation: 25s light6 linear infinite;
}

.light:nth-child(88) {
  width: 83px;
  height: 83px;
  top: 81%;
  left: 9%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 18s light2 linear infinite;
          animation: 18s light2 linear infinite;
}

.light:nth-child(89) {
  width: 100px;
  height: 100px;
  top: 28%;
  left: 35%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 14s light2 linear infinite;
          animation: 14s light2 linear infinite;
}

.light:nth-child(90) {
  width: 77px;
  height: 77px;
  top: 30%;
  left: 89%;
  background: #63C13B;
  filter: blur(4px);
  -webkit-animation: 25s light3 linear infinite;
          animation: 25s light3 linear infinite;
}

.light:nth-child(91) {
  width: 76px;
  height: 76px;
  top: 15%;
  left: 3%;
  background: #FEE34A;
  filter: blur(4px);
  -webkit-animation: 33s light3 linear infinite;
          animation: 33s light3 linear infinite;
}

.light:nth-child(92) {
  width: 78px;
  height: 78px;
  top: 27%;
  left: 34%;
  background: #FEC641;
  filter: blur(4px);
  -webkit-animation: 15s light6 linear infinite;
          animation: 15s light6 linear infinite;
}

.light:nth-child(93) {
  width: 91px;
  height: 91px;
  top: 27%;
  left: 58%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 26s light5 linear infinite;
          animation: 26s light5 linear infinite;
}

.light:nth-child(94) {
  width: 92px;
  height: 92px;
  top: 60%;
  left: 96%;
  background: #FE0016;
  filter: blur(4px);
  -webkit-animation: 17s light4 linear infinite;
          animation: 17s light4 linear infinite;
}

.light:nth-child(95) {
  width: 85px;
  height: 85px;
  top: 73%;
  left: 21%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 33s light6 linear infinite;
          animation: 33s light6 linear infinite;
}

.light:nth-child(96) {
  width: 92px;
  height: 92px;
  top: 71%;
  left: 46%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 23s light2 linear infinite;
          animation: 23s light2 linear infinite;
}

.light:nth-child(97) {
  width: 91px;
  height: 91px;
  top: 13%;
  left: 55%;
  background: #FEE34A;
  filter: blur(4px);
  -webkit-animation: 16s light4 linear infinite;
          animation: 16s light4 linear infinite;
}

.light:nth-child(98) {
  width: 94px;
  height: 94px;
  top: 62%;
  left: 79%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 28s light6 linear infinite;
          animation: 28s light6 linear infinite;
}

.light:nth-child(99) {
  width: 90px;
  height: 90px;
  top: 20%;
  left: 10%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 17s light4 linear infinite;
          animation: 17s light4 linear infinite;
}

.light:nth-child(100) {
  width: 81px;
  height: 81px;
  top: 2%;
  left: 64%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 28s light3 linear infinite;
          animation: 28s light3 linear infinite;
}

.light:nth-child(101) {
  width: 83px;
  height: 83px;
  top: 91%;
  left: 40%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 24s light3 linear infinite;
          animation: 24s light3 linear infinite;
}

.light:nth-child(102) {
  width: 97px;
  height: 97px;
  top: 24%;
  left: 49%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 29s light3 linear infinite;
          animation: 29s light3 linear infinite;
}

.light:nth-child(103) {
  width: 81px;
  height: 81px;
  top: 61%;
  left: 9%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 17s light3 linear infinite;
          animation: 17s light3 linear infinite;
}

.light:nth-child(104) {
  width: 82px;
  height: 82px;
  top: 49%;
  left: 84%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 13s light3 linear infinite;
          animation: 13s light3 linear infinite;
}

.light:nth-child(105) {
  width: 92px;
  height: 92px;
  top: 78%;
  left: 96%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 16s light2 linear infinite;
          animation: 16s light2 linear infinite;
}

.light:nth-child(106) {
  width: 93px;
  height: 93px;
  top: 49%;
  left: 58%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 29s light2 linear infinite;
          animation: 29s light2 linear infinite;
}

.light:nth-child(107) {
  width: 100px;
  height: 100px;
  top: 54%;
  left: 47%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 20s light5 linear infinite;
          animation: 20s light5 linear infinite;
}

.light:nth-child(108) {
  width: 84px;
  height: 84px;
  top: 99%;
  left: 95%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 34s light4 linear infinite;
          animation: 34s light4 linear infinite;
}

.light:nth-child(109) {
  width: 84px;
  height: 84px;
  top: 92%;
  left: 42%;
  background: #63C13B;
  filter: blur(3px);
  -webkit-animation: 28s light4 linear infinite;
          animation: 28s light4 linear infinite;
}

.light:nth-child(110) {
  width: 100px;
  height: 100px;
  top: 11%;
  left: 20%;
  background: #FE0016;
  filter: blur(3px);
  -webkit-animation: 16s light6 linear infinite;
          animation: 16s light6 linear infinite;
}

.light:nth-child(111) {
  width: 89px;
  height: 89px;
  top: 43%;
  left: 89%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 30s light2 linear infinite;
          animation: 30s light2 linear infinite;
}

.light:nth-child(112) {
  width: 77px;
  height: 77px;
  top: 63%;
  left: 98%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 29s light4 linear infinite;
          animation: 29s light4 linear infinite;
}

.light:nth-child(113) {
  width: 76px;
  height: 76px;
  top: 71%;
  left: 67%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 14s light5 linear infinite;
          animation: 14s light5 linear infinite;
}

.light:nth-child(114) {
  width: 77px;
  height: 77px;
  top: 79%;
  left: 53%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 30s light4 linear infinite;
          animation: 30s light4 linear infinite;
}

.light:nth-child(115) {
  width: 97px;
  height: 97px;
  top: 59%;
  left: 27%;
  background: #D00010;
  filter: blur(4px);
  -webkit-animation: 24s light6 linear infinite;
          animation: 24s light6 linear infinite;
}

.light:nth-child(116) {
  width: 81px;
  height: 81px;
  top: 20%;
  left: 49%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 19s light2 linear infinite;
          animation: 19s light2 linear infinite;
}

.light:nth-child(117) {
  width: 76px;
  height: 76px;
  top: 18%;
  left: 41%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 13s light4 linear infinite;
          animation: 13s light4 linear infinite;
}

.light:nth-child(118) {
  width: 81px;
  height: 81px;
  top: 3%;
  left: 42%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 31s light5 linear infinite;
          animation: 31s light5 linear infinite;
}

.light:nth-child(119) {
  width: 94px;
  height: 94px;
  top: 6%;
  left: 11%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 21s light4 linear infinite;
          animation: 21s light4 linear infinite;
}

.light:nth-child(120) {
  width: 87px;
  height: 87px;
  top: 16%;
  left: 34%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 27s light2 linear infinite;
          animation: 27s light2 linear infinite;
}

.light:nth-child(121) {
  width: 96px;
  height: 96px;
  top: 65%;
  left: 46%;
  background: #FEE34A;
  filter: blur(3px);
  -webkit-animation: 15s light4 linear infinite;
          animation: 15s light4 linear infinite;
}

.light:nth-child(122) {
  width: 83px;
  height: 83px;
  top: 12%;
  left: 34%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 25s light4 linear infinite;
          animation: 25s light4 linear infinite;
}

.light:nth-child(123) {
  width: 84px;
  height: 84px;
  top: 83%;
  left: 63%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 19s light2 linear infinite;
          animation: 19s light2 linear infinite;
}

.light:nth-child(124) {
  width: 91px;
  height: 91px;
  top: 22%;
  left: 9%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 25s light3 linear infinite;
          animation: 25s light3 linear infinite;
}

.light:nth-child(125) {
  width: 93px;
  height: 93px;
  top: 29%;
  left: 68%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 27s light5 linear infinite;
          animation: 27s light5 linear infinite;
}

.light:nth-child(126) {
  width: 90px;
  height: 90px;
  top: 46%;
  left: 76%;
  background: #FEE34A;
  filter: blur(4px);
  -webkit-animation: 23s light5 linear infinite;
          animation: 23s light5 linear infinite;
}

.light:nth-child(127) {
  width: 97px;
  height: 97px;
  top: 64%;
  left: 8%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 18s light5 linear infinite;
          animation: 18s light5 linear infinite;
}

.light:nth-child(128) {
  width: 76px;
  height: 76px;
  top: 28%;
  left: 25%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 20s light6 linear infinite;
          animation: 20s light6 linear infinite;
}

.light:nth-child(129) {
  width: 82px;
  height: 82px;
  top: 71%;
  left: 31%;
  background: #6B0D05;
  filter: blur(3px);
  -webkit-animation: 24s light2 linear infinite;
          animation: 24s light2 linear infinite;
}

.light:nth-child(130) {
  width: 81px;
  height: 81px;
  top: 15%;
  left: 83%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 16s light4 linear infinite;
          animation: 16s light4 linear infinite;
}

.light:nth-child(131) {
  width: 84px;
  height: 84px;
  top: 5%;
  left: 67%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 12s light5 linear infinite;
          animation: 12s light5 linear infinite;
}

.light:nth-child(132) {
  width: 82px;
  height: 82px;
  top: 9%;
  left: 11%;
  background: #2F8A27;
  filter: blur(4px);
  -webkit-animation: 35s light4 linear infinite;
          animation: 35s light4 linear infinite;
}

.light:nth-child(133) {
  width: 81px;
  height: 81px;
  top: 61%;
  left: 84%;
  background: #D00010;
  filter: blur(3px);
  -webkit-animation: 13s light5 linear infinite;
          animation: 13s light5 linear infinite;
}

.light:nth-child(134) {
  width: 80px;
  height: 80px;
  top: 74%;
  left: 9%;
  background: #7D0006;
  filter: blur(4px);
  -webkit-animation: 33s light6 linear infinite;
          animation: 33s light6 linear infinite;
}

.light:nth-child(135) {
  width: 90px;
  height: 90px;
  top: 16%;
  left: 32%;
  background: #63C13B;
  filter: blur(3px);
  -webkit-animation: 12s light6 linear infinite;
          animation: 12s light6 linear infinite;
}

.light:nth-child(136) {
  width: 89px;
  height: 89px;
  top: 80%;
  left: 5%;
  background: #5C6C94;
  filter: blur(3px);
  -webkit-animation: 23s light5 linear infinite;
          animation: 23s light5 linear infinite;
}

.light:nth-child(137) {
  width: 99px;
  height: 99px;
  top: 10%;
  left: 67%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 17s light3 linear infinite;
          animation: 17s light3 linear infinite;
}

.light:nth-child(138) {
  width: 98px;
  height: 98px;
  top: 64%;
  left: 4%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 21s light2 linear infinite;
          animation: 21s light2 linear infinite;
}

.light:nth-child(139) {
  width: 88px;
  height: 88px;
  top: 40%;
  left: 71%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 24s light2 linear infinite;
          animation: 24s light2 linear infinite;
}

.light:nth-child(140) {
  width: 91px;
  height: 91px;
  top: 87%;
  left: 28%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 13s light3 linear infinite;
          animation: 13s light3 linear infinite;
}

.light:nth-child(141) {
  width: 81px;
  height: 81px;
  top: 91%;
  left: 4%;
  background: #FEC641;
  filter: blur(3px);
  -webkit-animation: 23s light5 linear infinite;
          animation: 23s light5 linear infinite;
}

.light:nth-child(142) {
  width: 80px;
  height: 80px;
  top: 83%;
  left: 73%;
  background: #FEC641;
  filter: blur(4px);
  -webkit-animation: 29s light6 linear infinite;
          animation: 29s light6 linear infinite;
}

.light:nth-child(143) {
  width: 87px;
  height: 87px;
  top: 32%;
  left: 78%;
  background: #FEE34A;
  filter: blur(3px);
  -webkit-animation: 25s light6 linear infinite;
          animation: 25s light6 linear infinite;
}

.light:nth-child(144) {
  width: 81px;
  height: 81px;
  top: 86%;
  left: 20%;
  background: #6B0D05;
  filter: blur(4px);
  -webkit-animation: 13s light6 linear infinite;
          animation: 13s light6 linear infinite;
}

.light:nth-child(145) {
  width: 79px;
  height: 79px;
  top: 86%;
  left: 33%;
  background: #7D0006;
  filter: blur(3px);
  -webkit-animation: 33s light6 linear infinite;
          animation: 33s light6 linear infinite;
}

.light:nth-child(146) {
  width: 94px;
  height: 94px;
  top: 74%;
  left: 51%;
  background: #2F8A27;
  filter: blur(3px);
  -webkit-animation: 33s light4 linear infinite;
          animation: 33s light4 linear infinite;
}

.light:nth-child(147) {
  width: 87px;
  height: 87px;
  top: 49%;
  left: 82%;
  background: #5C6C94;
  filter: blur(4px);
  -webkit-animation: 18s light5 linear infinite;
          animation: 18s light5 linear infinite;
}

.light:nth-child(148) {
  width: 96px;
  height: 96px;
  top: 50%;
  left: 88%;
  background: #DB1913;
  filter: blur(3px);
  -webkit-animation: 26s light6 linear infinite;
          animation: 26s light6 linear infinite;
}

.light:nth-child(149) {
  width: 84px;
  height: 84px;
  top: 15%;
  left: 81%;
  background: #63C13B;
  filter: blur(3px);
  -webkit-animation: 23s light4 linear infinite;
          animation: 23s light4 linear infinite;
}

.light:nth-child(150) {
  width: 92px;
  height: 92px;
  top: 95%;
  left: 58%;
  background: #DB1913;
  filter: blur(4px);
  -webkit-animation: 20s light3 linear infinite;
          animation: 20s light3 linear infinite;
}

@-webkit-keyframes light1 {
  25% {
    opacity: 0.47;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes light1 {
  25% {
    opacity: 0.47;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes light2 {
  25% {
    opacity: 0.62;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light2 {
  25% {
    opacity: 0.62;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes light3 {
  25% {
    opacity: 0.66;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.49;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light3 {
  25% {
    opacity: 0.66;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.49;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes light4 {
  25% {
    opacity: 0.29;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.66;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light4 {
  25% {
    opacity: 0.29;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.66;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes light5 {
  25% {
    opacity: 0.72;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.44;
  }
  100% {
    opacity: 0;
  }
}
@keyframes light5 {
  25% {
    opacity: 0.72;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.44;
  }
  100% {
    opacity: 0;
  }
}
/* Other Stuff */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#0A0707 0%, #110C0D 50%, #0C090A 100%);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  position: absolute;
  top: 25%;
  z-index: 10;
  opacity: 0.9;
  left: 0%;
  right: 0%;
}