@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.4;
  color: #3C4858;
  background: #7E5BEF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apinix {
  width: 100%;
  max-width: 500px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.apinix .apinix__title,
.apinix .apinix__subtitle,
.apinix .apinix__description,
.apinix .apinix__link {
  display: inline-flex;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
.apinix .apinix__title,
.apinix .apinix__description {
  font-size: 20px;
  opacity: 0.5;
}
.apinix .apinix__subtitle {
  margin: 5px 0;
  font-size: 50px;
}
.apinix .apinix__description {
  margin-bottom: 10px;
}
.apinix .apinix__link {
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-decoration: none;
}
.apinix .apinix__link .apinix__link__img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper.wrapper--top {
  height: auto;
  padding-bottom: 100px;
  justify-content: flex-start;
}
.wrapper.wrapper--top .apinix {
  padding-top: 100px;
}
.wrapper .block {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background: white;
  transition: all 0.18s ease-in-out;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 16px 24px rgba(0, 0, 0, 0.1), 0px 24px 32px rgba(0, 0, 0, 0.14);
}
.wrapper .block h4 {
  margin: 0;
  color: #545D6A;
  font-weight: bold;
}
.wrapper .block .block__inner {
  display: flex;
  justify-content: space-around;
}
.wrapper .block .block__inner + .block__inner {
  margin-top: 20px;
}
.wrapper .block + .block {
  margin-top: 40px;
}

button {
  height: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  outline: none;
  background: #09f;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: all 0.18s ease-in-out;
}
button:hover {
  background: #007acc;
}
button:active {
  background: #006bb3;
}

.wrapper .block .block__inner :not(:only-child) {
  justify-content: center;
}
.wrapper .block .block__inner :only-child {
  justify-content: space-between;
}